<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnitTypeDefinitions" type="BattleCalculator.Configuration.UnitTypeDefinitionsSection, BattleCalculator"/>
  </configSections>
  <UnitTypeDefinitions>
    <UnitTypes>
      <add name="Infantry"                 attack="1" defense="2" cost="3"   attackerCasualtyRanking="102" defenderCasualtyRanking="102" supportableByTypes="Artillery"/>
      <add name="Mechanized Infantry"      attack="1" defense="2" cost="4"   attackerCasualtyRanking="103" defenderCasualtyRanking="103" supportableByTypes="Artillery"/>
      <add name="Artillery"                attack="2" defense="2" cost="4"   attackerCasualtyRanking="106" defenderCasualtyRanking="106" />
      <add name="Tank"                     attack="3" defense="3" cost="6"   attackerCasualtyRanking="107" defenderCasualtyRanking="107" />
      <add name="Fighter"                  attack="3" defense="4" cost="10"  attackerCasualtyRanking="202" defenderCasualtyRanking="202" />
      <add name="Tactical Bomber"          attack="3" defense="3" cost="11"  attackerCasualtyRanking="201" defenderCasualtyRanking="201" supportableByTypes="Tank,Fighter"/>
      <add name="Strategic Bomber"         attack="4" defense="1" cost="15"  attackerCasualtyRanking="301" defenderCasualtyRanking="301" />
      <add name="Submarine"                attack="2" defense="1" cost="6"   attackerCasualtyRanking="108" defenderCasualtyRanking="108" />
      <add name="Destroyer"                attack="2" defense="2" cost="8"   attackerCasualtyRanking="109" defenderCasualtyRanking="109" />
      <add name="Cruiser"                  attack="3" defense="3" cost="12"  attackerCasualtyRanking="204" defenderCasualtyRanking="204" />
      <add name="Aircraft Carrier"         attack="0" defense="2" cost="16"  attackerCasualtyRanking="403" defenderCasualtyRanking="403" onHitReplaceWithType="Damaged Aircraft Carrier"/>
      <add name="Battleship"               attack="4" defense="4" cost="20"  attackerCasualtyRanking="101" defenderCasualtyRanking="101" onHitReplaceWithType="Damaged Battleship"/>
      <!-- Replacement types -->
      <add name="Damaged Battleship"       attack="4" defense="4" cost="20"  attackerCasualtyRanking="510" defenderCasualtyRanking="510" isReplacementType="True"/>
      <add name="Damaged Aircraft Carrier" attack="0" defense="2" cost="16"  attackerCasualtyRanking="509" defenderCasualtyRanking="509" isReplacementType="True"/>
    </UnitTypes>
  </UnitTypeDefinitions>
</configuration>
