<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnitTypeDefinitions" type="BattleCalculator.Configuration.UnitTypeDefinitionsSection, BattleCalculator"/>
  </configSections>
  <UnitTypeDefinitions>
    <UnitTypes>
      <add name="Infantry" attack="1" defense="2" cost="3" />
      <add name="Tank" attack="3" defense="3" cost="6" />
      <add name="Fighter" attack="3" defense="4" cost="10" />
    </UnitTypes>
  </UnitTypeDefinitions>
</configuration>
